project:
  type: website
  output-dir: _site

website:
  title: "2"
  navbar:
    left:
      - href: index.qmd
        text: "3"

  sidebar:
    style: docked
    collapse-level: 1
    contents:
      - text: Home
        href: index.qmd
      - section: "Staff Onboarding"
        contents:
          - href: staff_onboarding/internal_communication.qmd
            text: "Internal Communication"
          - href: staff_onboarding/working_envi.qmd
            text: "Working Environment"
          - href: staff_onboarding/administration.qmd
            text: "Administration"
      - section: "OSC GitHub Organization"
        contents:
          - href: path/file.qmd
            text: "About GitHub Organization"
          - href: path/file.qmd
            text: "Essential Git Skills"
          - href: path/file.qmd
            text: "Repository Overview"
          - href: path/file.qmd
            text: "Resource Repos"
          - href: path/file.qmd
            text: "What are GitHub Actions?"
          - href: path/file.qmd
            text: "Pull Requests and Issues"
          - href: path/file.qmd
            text: "Zenodo Integration"
          - href: path/file.qmd
            text: "Citations and Licenses"
      - section: "Updating Website" #with Fiona for now
        contents:
          - href: updating_website/using_fiona.qmd
            text: "Using Fiona"
          - href: updating_website/create_news_item.qmd
            text: "Create a News Item"
          - href: updating_website/create_event_page.qmd
            text: "Create an Event Page"
          - href: updating_website/create_new_members_page.qmd
            text: "Create a Profile Page"
          - href: .qmd
            text: "Edit Other Pages"
      - section: "Onboarding an OSC Member"
        contents:
          - href: onboarding_member/onboarding_osc_member.qmd
            text: "Onboarding an OSC Member"
      - section: "Organizing an OSC Event"
        contents:
          - href: osc_events/creating_program.qmd
            text: "Creating a Program and Liaising with Guest Instructor"
          - href: osc_events/registration.qmd
            text: "Registration and OSC Event Pages"
          - href: osc_events/liaising_with_attendees.qmd
            text: "Liaising with Attendees"
          - href: osc_events/additional_prep.qmd
            text: "Additional Preparation"
          - href: osc_events/logistics.qmd
            text: "Logistics within the Event"
          - href: osc_events/wrapup_feedback.qmd
            text: "Wrap Up and Feedback"
      - section: "OSC Public Outreach"
        contents:
          - href: osc_outreach/social_media.qmd
            text: "Social Media"
          - href: osc_outreach/newsletter.qmd
            text: "Newsletter"
          - href: osc_outreach/flyer_design_and_images.qmd
            text: "Flyer Design and Images"
          - href: osc_events/additional_prep.qmd
            text: "Mail Drafts"
      - section: "Authoring an OSC Tutorial"
        contents:
          - href: path/file.qmd
            text: "Introduction"
          - href: path/file.qmd
            text: "Tutorial Template Overview"
          - href: path/file.qmd
            text: "Getting Started"
          - href: path/file.qmd
            text: "Things You Shouldn't Change"
          - href: path/file.qmd
            text: "Matomo Analytics"
          - href: path/file.qmd
            text: "Authoring and Versions"
          - href: path/file.qmd
            text: "Best Practices"
      - section: "Switching a Group to Open Research Practices"
        contents:
          - href: path/file.qmd
            text: "Survey"
          - href: path/file.qmd
            text: "Template Google Doc"
          - href: path/file.qmd
            text: "Feedback Form"
          - href: path/file.qmd
            text: "Additional Processes"
          - href: path/file.qmd
            text: "Lessons Learned and Iterative Improvements"

format:
  html:
    theme:
      - cosmo
      - assets/lmu-osc-custom.scss
    css:
      - assets/styles.css   # or the remote URL you used before
    toc: true
    fontsize: 13pt
    code-overflow: wrap
    grid:
      sidebar-width: 300px
